$color-1: #3e3494; // skittle blue
$color-2: #fcec5d; // Lemon drop yellow
$color-3: #9ee575; // sour apple
$color-4: #ee9dc4; // bubble gum pink
$color-5: #382621; // chocolate river
$color-b: #000000; // licorice
$color-w: #ffffff; // peppermint
$color-g: #5e5e5e; // sludge
