#whole{
    background-color: #fff685;
    width: 75%;
    height: 400px;
    border-radius: 8px;
    margin: 0 auto;
}

#heading{
    text-align: center;
  color: #0049b7;
    font-family: 'Homemade Apple', cursive;
 background-color: #f75990; 
 border-radius: 8px;
 height:100px;
 height: 90px;
 line-height: 90px;



}
img {
    float:right;
    padding-right:15px;
    padding-top: 20px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
   
}
#listing{
    font-family: 'Gayathri', sans-serif;

    color: #0049b7;
padding-left: 5px;
}
#foot{
    text-align: center;

    line-height: 40px;
    color: #0049b7;
      font-family: 'Homemade Apple', cursive;
   background-color: #f75990;
   border-radius: 8px;
   
 height:100px;
  
}