header{
    background: #54180b;
    font-family: 'Slabo 27px', serif;
    color: #fbecca;
    width: 98%;
    height: 150px;;
    margin:0 auto; 
    font-size: 30pt;
    text-align: right;
    padding-right: 10px;

}
header img{
    float: left;
    padding-top: 15px;
    padding-left: 50px;
}
h1 {
    margin: 0 auto;

}
h2{
    font-family: 'Slabo 27px', serif;
}
.grid-container{

    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fbecca;
    padding: 10px; 
}
#type1{
    font-family: 'Slabo 27px', serif;
    background: #fbecca;
    color: #54180b;
    width: 100;
    margin:0 auto; 
    font-size: 20pt;
    text-align: right;
    padding-right: 10px;


}

#type2{
    font-family: 'Rubik', sans-serif;
     background: #54180b;
    color: #fbecca;
    width: 100%;
    margin:0 auto; 
    font-size: 20pt;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;


}



main{
    
    font-family: 'Rubik', sans-serif;
    background: #fbecca;
    color: #54180b;
    width: 97%;
    margin:0 auto; 
    font-size: 18pt;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 30px;

}


footer{
    
    background: #54180b;
    font-family: 'Slabo 27px', serif;
    color: #fbecca;
    width: 97%;
    margin:0 auto; 
    font-size: 10pt;
    text-align: right;
    padding-right: 10px;
    line-height: 30px;


}
nav{
    background: #3b5012;
    color: #fbecca;
     width: 98%;
     height: 56px;
     margin:0 auto;
    font-family: 'Rubik', sans-serif;
}
li{
    display: inline;
    margin:0 auto;
    float: right;
}
li a{
    color: #fbecca;
    text-align: center;
    padding: 20px;
    text-decoration: none;

}
li a:hover{
    background-color: #54180b;
}
ul{
    
    padding: 12px;
    margin: 0 auto;
    
    line-height: 30px;
}