header{
    background: #54180b;
    font-family: 'Slabo 27px', serif;
    color: #fbecca;
    width: 98%;
    height: 200px;;
    margin:0 auto; 
    font-size: 30pt;
    text-align: center;
    

}
header img{
    float: left;
    padding-top: 35px;
    padding-left: 100px;
}
h1 {
    margin: 0 auto;

}
h2{
    font-family: 'Slabo 27px', serif;
}
h3{
    font-family: 'Rubik', sans-serif;
}

#type1{
    font-family: 'Slabo 27px', serif;
    background: #54180b;
    color: #fbecca;
    width: 98%;
    margin:0 auto; 
    font-size: 20pt;
    text-align: center;
  
padding-top: 10px;

}

#type2{
    font-family: 'Rubik', sans-serif;
     background: #fbecca;
    color: #54180b;
    width: 100%;
    margin:0 auto; 
    font-size: 20pt;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 5px;


}



main{
    
    font-family: 'Rubik', sans-serif;
    background: #fbecca;
    color: #54180b;
    width: 97%;
    margin:0 auto; 
    font-size: 18pt;
    text-align: center;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 30px;

}


footer{
    
    background: #54180b;
    font-family: 'Slabo 27px', serif;
    color: #fbecca;
    width: 97%;
    margin:0 auto; 
    font-size: 10pt;
    text-align: center;
    padding-right: 10px;
    line-height: 30px;


}
nav{
    background: #3b5012;
    color: #fbecca;
     width: 98%;
     height: 56px;
     margin:0 auto;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
 nav li{
    display: inline;
    margin:0 auto;
    text-align: center;
}
li a{
    color: #fbecca;
    text-align: center;
    padding: 20px;
    text-decoration: none;

}
li a:hover{
    background-color: #54180b;
}
ul{
    
    padding: 12px;
    margin: 0 auto;
    
    line-height: 30px;
}