body{
    display: grid;
    grid-column: 1;
    text-align: center;
    background-color: pink;
    font-family: 'Liu Jian Mao Cao', cursive;

}
picture img[data-src] {
    filter: blur(0.2em);
  }
  
  picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }