@media only screen and (min-width: 710px) {

  header{
  margin: 0 auto;
  height: 130px;
}
  
  header h1{
    font-size: 3.5em;
  }
  header h3{
    font-size: 1em;
  padding-left: 30px;
  }
  header img{
      float:left;
      padding-top: 15px;
      padding-left: 55px;
      
      
      width: 8%;}
      nav.clearfix{
        
        margin: 0 auto; 
        text-align: center;
      }
  nav ul li a{
      
     /* border-right: 1px solid rgba(0,0,0,.15);*/
      padding: .6rem 1rem;
  }
  /*mod5*/
  .fiveday{
    color:  #8d2e49;
    width: 70%;
    margin:0 auto;
    display: block;
    border: 1px solid #3b5012;
  }
  .articlediv{
    position: relative;
  }
  .fullarticle{
    width:58%;
  }
  .articleimage{
    position: absolute;
    top:75px;
    right:15px;
    width:39%;
    min-width: 50px;
    max-width: 470px;
  }
  #contact{
    position: relative;
  }

  #contact img{
    width:48%;
    margin-left: 5px;
}
.contactinfo{
  position: absolute;
  top:75px;
  right:15px;
  width:39%;
  min-width: 50px;
   text-align: center;  
}
}