@media only screen and (min-width: 425px) {


    .columns{
        display: flex;
  flex-wrap: wrap;
            font-size: 18pt;
        }
.column1{
    width: 47%;
    margin:0 auto;
    float: left;
    padding: 3px;
    
}
.column2{
    width:47%;
    margin:0 auto;
    float:right;
}
.column3{
    width: 100%;
    
padding-top: 5px;
}

}
@media only screen and (min-width: 700px) {
    .columns{
    display:  flex; /*large css*/
        
        font-size: 18pt;
    }
    .column1{
        width: 33%;
        margin:0 0;
        float: left;
    }
    .column2{
        width:33%;
        margin:0 auto;
        
    }
    .column3{
        width: 33%;
        margin:0 auto}
    
    
    
    }