body{
    background-color: red;
    background-image: url(../images/site/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Catamaran', sans-serif;
    margin: 0 auto;


    .acme{
        width: 95%;
        background-color: #ffffff;
        margin: 0 auto;
        
    min-width: 180px;
    }

}



@media  screen and (min-width:600px){
    body{
        .acme{
            width:80%;
            margin: 0 auto;
        
        }
    }
}