footer{
    width: 99%;
    font-size: .5em;
    text-align: center;
    border-top: solid 2px $darkness;
    font-weight: bold;
    margin-bottom: 1em;
}

@media  screen and (min-width:700px){
   footer{
    font-size: .8em;
}
}

@media  screen and (min-width:1000px){
    footer{
     font-size: 1em;
 }
 }