//variables
$body-copy:Arial, Helvetica, sans-serif;
$title-font:'Lora', serif;
$accent:#6495ED;
$header-color: white;
$post-color:#000000;
$medium:380px;
$hover:underline;
$nons:none;
$shadow:#888888;
 
@mixin post($nons,$post-color) {
    text-decoration: $nons;
    color: $post-color;
    font-size: 1.25em;

    
}


@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');


// nested header
header{
    background-color:  $accent;
    color:$header-color;
    list-style-type:$nons ;
    text-decoration:$nons;
    text-align: right;
    padding:40px 20px 20px;

 ul{
    list-style: none;
    font-family: $body-copy;
    li{
        padding-top: 15px;
    }
    
}
a{
    text-decoration: $nons;
    color:$header-color;
}
h1{
    font-family: $title-font;
}

}

header nav ul li a:visited{
    color:#FAEBD7 ;
  
}
header nav ul li a:active, 
.post-content h2 a:active,

.post-content p a:active{
    color:#DEB887;
}

header nav ul li a:hover,

.post-content p a:hover{
    text-decoration: underline;
}
// nested main
main{
    background-color: #FAEBD7;
    padding: 20px;
    article{
        background-color: $header-color;
        
        padding:20px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 5px $shadow;
        text-align: center;
        
.post-date{
    color: $shadow;
    font-family: $body-copy;
    text-align: left;
    }
    .post-content h2 {
        text-align: left;
        font-family:$body-copy ;
    }
    
    }
}

.post-content h2 a:hover{
    color: $accent;
    text-decoration: underline;
}
.post-content a{
    @include post(none, black)
   /* text-decoration: $nons;
    color: $post-color;
    font-size: 1.25em;*/
}
main article section figure img{
    width: 70%;
    margin: 0 auto;
}
.post-content p{
    font-family: $body-copy;
    text-align: left;
}

.post-content p a, 
.post-content p a:visited{
    color:$accent;
}
@media screen and (min-width : $medium) {
    body div{
         display: flex;
    flex-flow: row;
    }
    

}