/* Error: Missing argument $a.
 *    ,
 * 43 |     @include links;
 *    |     ^^^^^^^^^^^^^^
 *    '
 *   styles.scss 43:5  links()
 *   styles.scss 43:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $a.\a    \2577 \a 43 \2502      @include links;\d\a    \2502      ^^^^^^^^^^^^^^\a    \2575 \a   styles.scss 43:5  links()\a   styles.scss 43:5  root stylesheet";
}
