@media only screen and (min-width: 710px) {

  header{width: 80%;
  margin: 0 auto;
  height: 120px;
}
  
  header h1{
    font-size: 3.5em;
  }
  header h3{
    font-size: 1em;
  padding-left: 30px;
  }
  header img{
      float:left;
      padding-top: 15px;
      padding-left: 55px;
      
      width: 10%;}
      nav.clearfix{
        width:80%;
        margin: 0 auto; 
        text-align: center;
      }
  nav ul li a{
      
      border-right: 1px solid rgba(0,0,0,.15);
      padding: .6rem 1rem;
  }
  main{
    width: 80%;
    margin: 0 auto;
    
  }
  footer{
    
    width: 80%;
    margin:0 auto; 
    


}

}