@media only screen and (min-width: 1500px) {
body{
    width:80%;
margin: 0 auto;}

.weathersum{
    margin-left:190px;
    
  
  }div.contact picture.map img{
    margin-top: -300px;
    width:40%;}

}