@media only screen and (min-width: 691px) {

  header{
  margin: 0 auto;
  height: 130px;
}
  
  header h1{
    font-size: 3.5em;
  }
  header h3{
    font-size: 1em;
  padding-left: 30px;
  }
  header picture img{
      float:left;
      padding-top: 15px;
      padding-left: 55px;
      max-width: 145px;
      
      
      width: 8%;}
      nav.clearfix{
        
        margin: 0 auto; 
        text-align: center;
      }
  nav ul li a{
      
     /* border-right: 1px solid rgba(0,0,0,.15);*/
      padding: .6rem 1rem;
  }
  /*mod5*/
  .fiveday{
    
    width: 90%;
    margin:0 auto;
    display: block;
    color:  #8d2e49;
    padding-bottom: 10px;
    
    
  }
  .weathertable{
    width: 70%;
    text-align: center;
    
    margin:10px auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-content: center;
    
    display: block;
    

  }
.weathertable tr th, td{
  text-align-last: center;
  border:.5px solid  #8d2e49; 
  padding: 15px;
}
.article{
  display: flex;
}
.articlepicture{
  width:38%;
  margin:20px 10px 20px 10px;

}
.articlepicture img{
  width:100%;
}
  
 /* .articlediv picture{
    float: right;
    margin-top: -120px;
    right:15px;
    width:39%;
    min-width: 50px;
    max-width: 450px;
  }*/
  #contact{
    position: relative;
  }

  .map{
    
  display: flex;
    width:48%;
    max-width: 300px;
    
    
}
.contactinfo{
  
  top:75px;
  right:15px;
  width:39%;
  min-width: 50px;
   
}
.contactinfo img{
  max-width: 27px;
}
.contactinfo ul{
  margin: 0 0;
  padding-left:0;
}
/*form*/
form legend{
  font-size: 1.2rem;
  color: #54180b;
  margin: 0 1rem;
  padding: 0 .4rem;
}
form label.top input, form label.top select{
  
padding:.45rem;


}
form label.dangerous {
 
  line-height: .5em;
}

form label.comment input{
  height: 120px;
 
}

}