.frames{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 1.5em;
    text-align: center;
    img{
        margin: auto;
        width: 98%;
    }
}

@media only screen and (max-width: 600px){
    .frames{
        display: inline-block;
        img{
            margin-top: 1em;
        }
    }
}