header{
  background-color: white; 
  padding: 1em ;
  
  width: 100%;
  margin: 5px auto;
  border-radius: 3px;
  
  font-family: 'Montserrat', sans-serif;

    text-align: left;
  h1{
    font-size:2em ;
    a{
      color: darkslateblue;
   
      text-decoration: none;
    }
  
  }
  h3{
    font-size: .8em;
    color: darkslateblue;
    
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
  }
  img{
    display: none;
  }
}
  @media only screen and (min-width: 600px){

    header{
          font-size: 2.5em;
       h3{
        font-size: 1em;
       }
       
      }
      
  } 