main {
    text-align: left;
    width: 100%;

    font-family: 'Montserrat', sans-serif;
    margin: .5em auto;

    border-radius: 3px;


    .content {


        color: white;
        padding: 2em;
        margin-left: .8em;
        font-size: 1em;
.about{
    img{
        width: 80%;
        border-radius: 4px;
    }
}
        ul {
            li {
                line-height: 2em;

                a {
                    text-decoration: none;

                    &:visited {
                        color: $blueGreen;
                    }

                    &:hover {
                        font-style: italic;
                        color: $mermaidPurple;
                        transition-delay: .5s;
                    }

                    &:active {
                        text-decoration: underline;
                    }

                }
            }
        }
    }
}
    @media only screen and (min-width: 600px) {

        main {
        .content{
            font-size: 1.2em;
            .resume{
            .skills{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    row-gap: 2.5em;
                }
               
                .skill-title{
                    font-weight: 600;
                   
            }
        } 
        .about{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column-gap: 1em;
            img{
                width: 100%;
                border-radius: 2px;
            }
        }
        
        }
    }

    }
