@import "normalize";
@import "colors";
@import "header";
@import "main";
@import "slider";
@import "frames";
@import "footer";
html{
    width:100%;
    margin:0 auto;
    background: linear-gradient(45deg, $mermaidPurple, $darkBlue, $lightBlue,$blueGreen,$mermaidPink);
    background-size: 600%;
    animation: gradient 16s linear infinite;

    min-width: 278px;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
   
}
