header{
    background: #54180b;
    color: #fbecca;
    font-family: 'Slabo 27px', serif;
  
    margin:0 auto; 
    padding-top: 5px;
    position: relative;
    
    text-align: center;
    width: 100%;
   
    

}
header p a picture img{
    margin-left: -500px;
    margin-top: -20px;
    
    max-width: 100px;
    
    position: absolute;
    width: 10%;
   
}
.title {
    margin: 0 auto;
    text-align: center;
}
header h1{
    font-family: 'Slabo 27px', serif;
    margin: 0 auto;

    padding-top: 20px;
    text-align: center;
}
header h3{
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    
    padding-bottom: 20px;;
}


h2{
    font-family: 'Slabo 27px', serif;
    margin: 0 auto;

    }
 

footer{
    
    background: #54180b;
    border-top: 5px solid #fd8340;
    
    color: #fbecca;
    font-family: 'Slabo 27px', serif;
    
    font-size: 10pt;
    line-height: 20px;
   
    margin:0 auto; 
    padding-right: 10px;
    text-align: center;
   
    width: 100%;
    


}

  

main{
    background: #fbecca;
    border-bottom: 5px solid #54180b ;
    color: #54180b;

    margin: 0 auto;
    
    text-align: center;
    width: 100%;
   
   
} 
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #fbecca;
}
nav{
    background: #fd8340;
    color: #fbecca;
    /* width: 98%;
     line-height: 45px;
     margin:0 auto;*/
    font-family: 'Rubik', sans-serif;
    
}
nav ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
nav ul li a:active{
    text-decoration: underline;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #fbecca;
    border: 1px solid rgba(0,0,0,0.25)
}

nav ul li a:hover{
    background-color: #54180b;
    color: #fd8340;
}
nav ul.hide{
    display:none;
}
/*don't change*/
.clearfix:after{
    content:"";
    display: table;
    clear:both;
}
 /* module 5*/

  
.summaryfull{
    position: relative;
}

.tablepic img{    
    width: 94%;
    margin:0 auto;
}
.weathersum{
    position: absolute;
    top:25px;
    left:45px;
    background-color: #3b5012;
    color:#fbecca;
    border: 1px solid #8d2e49;
    padding:5px;
    box-shadow: 5px 10px 8px #888888;
    opacity: .8;
    width:30%;
    min-width: 50px;
    max-height: 250px;
    

}

.weathersum span{
    color: #fbecca;
}
.weathertable{
    display: none;
}
/*--Banner--*/
#pancakes{
    background-color: yellow;
    font-family: 'Slabo 27px', serif;
    font-size: 2em;
    text-align: center;
    width:100%;
    background-size:90%;
    align-content: center;
    padding-left: 20px;
    display: flex;
    margin: 0 auto;
}
main figure .heroimage{
    width:97%;


}
main figure .heroimage img{
    width:100%;
}
.article{
    
    margin: 0 auto;
    border: 1px solid #3b5012;
    margin:0 20px;
  
}
.articlediv{
    width:90%;
    text-align: justify; 
    padding: 10px;

}
.articlepicture{


    width: 98%;
    margin:0 auto;
    

}
#contact{
    width:90%;
    margin: 0 auto;
    border: 1px solid #3b5012;
    text-align: center;; 
    padding: 10px;

}
#contact h2{
    text-align: center;
}
.map{
  display: none;  
}
.contactinfo{
    
    text-align: center;
}
.contactinfo img{
    width:5%;
}
.contactinfo ul {
    display: block;
    list-style: none;

}
.contactinfo ul li  {
    display: inline;
}
.contactinfo ul li a{
    text-decoration: none;
    padding-right: 1em;
    
}
/*---Gallery---*/
 .picgrid {
    display: grid;
    justify-content: center;
grid-template-columns: 1fr 1fr;
}
.picgrid figure img{
    width: 100%;
}
.picgrid figcaption{
      font-size: .8em;
}
.picgrid figure :hover{
    box-shadow: 6px 8px 4px grey;
}
main picture img[data-src] {
    filter: blur(0.2em);
  }
  
   main picture img {
    filter: blur(0em);
    transition: filter 3s;
  }
  /*---Form styling---*/
  form {
    text-align: left;
  }
  form fieldset{ 
    border: 1px solid #8d2e49; 
    border-radius: 8px;
    margin:2rem 0;
 
    padding: .5rem 2%;
  } 
form legend{
    color: #54180b;
   
    font-size: 1.2rem;
    margin: 0 1rem;
    padding: 0 .5rem;
}
.top{
    color: #54180b;
    display: block;
    padding-top: 1rem;
   
}
.top input, .top select{
background-color: RGB(0,0,0,0.1);
    border: solid 1px #8d2e49;
border-radius: 4px;

color: #555;
display: block;
font-size: 1rem;

max-width: 20rem;
padding:.75rem;

-webkit-appearance: none;
    
width: 100%;
 
}
.chachaslide{
    display:flex ;
    align-items: center;
    padding-top: 15px;
}
 
.dangerous {
    display: block;
    padding-top: 1em;
    color:#555;
    line-height: 2em;
}

.comment input{
    background-color: RGB(0,0,0,0.1);
 
border: solid 1px #8d2e49;
border-radius: 4px;

    display: block;
    height: 100px;
    max-width: 20rem;
    
    padding-left: .5em;
    width: 96%;
    
}
form label.top input:required{
    border-left: red solid 6px;

}

form label.top input:required:valid{
    border-left: green solid 6px;

}

form input.submitBtn{
    align-content: left;

    background-color: #3b5012;
    border: 1px solid #54180b;
      
    border-radius: 1rem;
    color:#fbecca;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
    padding: .75rem 1.5rem;
    width: 96%;
   
   }

form input.submitBtn:hover{
    background-color: #8d2e49;
     max-width: 20rem;
     width:100%;
  
    
}
/***index***/

.idahoans section{
    background-color: #54180b;
    
    border-radius: 5px;
    color: #fbecca;
   
    margin: 25px auto;
    
    opacity: .6;
    padding-top: 25px;
    transition-property: transform;
      
      width: 90%;

}

.idahoans section h2 
{
    
    color: #fbecca;
    font-size: 1.5em;
}
.idahoans section h3{
    font-size: .8em;
}



.idahoans section img{
    
    
    border-radius: 8px;
    padding-bottom: 20px;
    width: 70%;
}
.idahoans section:hover{
    
    opacity: 1;
    transform: scale(1.2);
     
}
/*index article*/
.indexp{
    background: #54180b;
    
    border-radius: 8px;
    color: #fbecca;
    margin:0 auto;
    margin-bottom: 25px;
    
    padding: 20px;
    width: 85%;
  
}
.indexp picture img{
    border-radius: 8px;
  
    margin: 0 auto;
    width: 80%;
    
}
.indexp article{
    padding-top: 10px;

    text-align: left;
  }
.indexp p a{
    color: #fd8340;

    text-decoration: none;
    }
.indexp p a:hover{
    text-decoration: underline;
}